@font-face {
  font-family: 'Hack';
  src: url('ttf/Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('ttf/Hack-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('ttf/Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Hack';
  src: url('ttf/Hack-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


body {
  background-color: #121212;
  color: #f0f0f0;
  font-family: 'Hack', monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
p, li, a {
  font-size: 1rem;
  margin-bottom: 1rem;
}

body, article, img, .container {
  max-width: 65ch; /* ~65 characters per line */
  margin: 0 auto;
  padding: 0 1rem;
}

html {
  scroll-behavior: smooth;
}


a {
  color: #b8bb26;
  text-decoration: underline;
}

a:hover {
  color: #81a1c1; /* Lighter blue on hover for feedback */
}


@media (max-width: 768px) {
  /* Adjust font sizes, margins, and padding for smaller screens */
  body {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  /* Stack navigation or sidebars vertically */
  .sidebar, .nav {
    width: 100%;
  }
}
